.center{
    text-align: center;
    justify-content: center;
    cursor: default;
}
.container {
    justify-content: center;
    text-align: center;
  
    
  }
  .right{
    text-align: right;
    float: right;
  }
  .red{
    color: #FF708D;
  }