<nb-card size="giant" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-header>
  <nb-actions size="small" class="buttonClose">
    <nb-action
      (click)="goToLogin()"
      style="text-align: left"
      icon="arrow-back-outline"
      [nbTooltip]="'Volver a iniciar sesión'"
      nbTooltipStatus="info"
    ></nb-action>
  </nb-actions>

</nb-card-header>
  <nb-card-body >
    <form [formGroup]="passForm">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 container">
          <h1 style="cursor: default;">Recuperar contraseña</h1>
          <p class="sub-title">Hola! Ingresa con tu correo electrónico para poder recuperar tu contraseña</p>
          
          <nb-form-field>
            <label style="float: left;" class="label col-form-label mr-4">Correo electrónico</label>
            <nb-icon style="margin-top: 2rem" *ngIf="form.email.valid" nbSuffix icon="checkmark-outline" pack="eva"></nb-icon>
            <nb-icon style="margin-top: 2rem" *ngIf="!form.email.pristine && form.email.errors?.required" nbSuffix icon="close-outline" pack="eva"></nb-icon>
            <input
              nbInput
              fullWidth
              min="8"
              type="email"
              formControlName="email"
              [status]="
                !form.email.pristine && form.email.errors?.required
                  ? 'danger'
                  : form.email.errors
                  ? 'basic'
                  : 'success'
              "
            />
          </nb-form-field>
          <br />
          <p
            class="red"
            *ngIf="!form.email.pristine && form.email.errors?.required"
          >
            El Correo electrónico es requerido
          </p>
      
        
          <br />
         
          <div class="ml-auto">
            <button
              (click)="login()"
              [disabled]="!form.email.valid"
              nbButton
              status="info"
              fullWidth
            >
              Recuperar contraseña
            </button>
          </div>
          <br>
          <section style="font-size: medium;" aria-label="Register" class="another-action"> ¿Aún no tienes creada una cuenta? <a  class="text-link" routerLink="../../register">Registrar</a></section>
        </div>
        
      </div>
      
    </form>
  </nb-card-body>
</nb-card>
