.container {
    justify-content: center;
    text-align: center;
  
    
  }
  .right{
    text-align: right;
  }
  .red{
    color: #FF708D;
  }
  .cursor{
    cursor: pointer;
    text-decoration: overline;
  }