<nb-card >
  <nb-card-body [nbSpinner]="getProductSpinnerLoading">
    <h1>Ver mis productos</h1>
    <hr>
    <div
      style="justify-content: space-around"
      *ngIf="listProducts.length > 0; else noProducts"
    >
      <ng-container *ngFor="let product of listProducts; let i = index">
        <nb-card accent="info" style="margin: 10px">
          <nb-card-body>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <img
                  src="assets/images/ver-producto.png"
                  alt=""
                  width="200px"
                  height="200px"
                />
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <h1 style="cursor: default;" >{{ product.title }}</h1>
                <hr />
                <h1 style="cursor: default;">${{ product.price }}</h1>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <button (click)="goToViewProduct(product.title)" [disabled]="loading" [nbSpinner]="loading" nbSpinnerStatus="primary" nbButton status="info" style="float: center; margin-top: 2rem; margin-right: 1rem;">
                  <nb-icon icon="eye-outline"></nb-icon>
                  ver la información
                </button>
                <br>
                <button (click)="openModal(dialogProducts)" [disabled]="loading" [nbSpinner]="loading" nbSpinnerStatus="primary" nbButton status="danger" style="float: center; margin-top: 2rem; margin-right: 1rem;">
                  <nb-icon icon="close-outline"></nb-icon>
                  Eliminar producto
                </button>
                <br>
               
              </div>
            </div>

            <ng-template #dialogProducts let-data let-ref="dialogRef">
              <nb-card>
                <nb-card-header>Eliminar producto</nb-card-header>
                <nb-card-body>{{ data }}</nb-card-body>
                <nb-card-footer>
                  <div class="row">
                  <button nbButton status="info" (click)="ref.close()">  <nb-icon icon="arrow-back-outline"></nb-icon> Volver</button>
                  <button class="ml-auto" nbButton status="danger" [disabled]="loading" [nbSpinner]="loading" nbSpinnerStatus="primary" (click)="ref.close()" (click)="deleteProduct(i)">  <nb-icon icon="close-outline"></nb-icon>Eliminar</button>
                </div>
                </nb-card-footer>
              </nb-card>
            </ng-template>

          </nb-card-body>
        </nb-card>
      </ng-container>

    </div>
    <ng-template #noProducts>
      <div *ngIf="!getProductSpinnerLoading" style="text-align: center">
        <h1 style="cursor: default;">No tiene productos agregados :(</h1>
        <br>
        <button (click)="goToCreateProduct()" [disabled]="loading" [nbSpinner]="loading" nbSpinnerStatus="primary" nbButton status="primary" style="float: center; margin-top: 4rem;">
          
          Ir a vender producto
          <nb-icon icon="arrow-forward-outline"></nb-icon>
        </button>
      </div>
    </ng-template>
  </nb-card-body>
</nb-card>
