<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body>
    <div class="row">
      <div class="container col-12 col-sm-12 col-md-6 col-lg-6">
        <h1 style="cursor: default;">Registro completado!</h1>
        <p class="lorem">
          A continuación puede ir a iniciar sesión para ingresar con su cuenta
        </p>

        <img
          src="assets/images/registro.png"
          alt="Imagen referencial de compra y venta de productos"
          width="200px"
          height="200px"
        />
        <br />
      </div>
    </div>
    <hr />
    <ng-container>
      <div class="row" style="justify-content: center">
        <button (click)="goToLogin()" nbButton status="primary">
          <nb-icon icon="arrow-forward-outline"></nb-icon>
          Ir a Iniciar sesión
        </button>
      </div>
    </ng-container>
  </nb-card-body>
</nb-card>
