<div class="header-container">
  <div class="logo-container">
    <a class="logo" routerLink="">Marketplace-accesible</a>
  </div>
  <div class="logo-container">
    <a class="logo" routerLink="">Inicio</a>

    <a class="logo" routerLink="marketplace/create-product">Vender</a>

    <a class="logo" routerLink="">Solicitar</a>

    <a class="logo" routerLink="marketplace/information">Informacion</a>
  </div>
</div>

<div class="header-container">
  <div class="header-container">
    <screen-size></screen-size>
    <colors-page></colors-page>
    <nb-actions size="small">
      <nb-action class="control-item" icon="settings-2-outline"></nb-action>
    </nb-actions>
  </div>
</div>
