<nb-card >
  <!-- Si esta en modo responsive desactivar aumentar el tamaño de pantalla-->
  <nb-card-body>
    <div class="row">
      <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
        <h1 style="cursor: default;" style="cursor: default;">Bienvenido al Marketplace Accesible!</h1>
        <br />
      </div>
    </div>
    <div class="row space">
      <img
        src="assets/images/diseño-para-todos.png"
        alt="Diseño para todos"
        width="350px"
        height="350px"
      />

      <img
        src="assets/images/mas.png"
        alt="signo más"
        width="50px"
        height="50px"
      />
      <img
        src="assets/images/carro.png"
        alt="Carro de compras con productos"
        width="300px"
        height="300px"
      />
    </div>
  </nb-card-body>
  <hr/>
  <br/>
  <nb-card-body>
    <div class="row">
      <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
        <h1 style="cursor: default;" style="cursor: default;" >Explora nuestras categorías!</h1>
        <br />
      </div>
    </div>

    <div class="row space">
      <a routerLink="../list-products">
        <img
          class="categories"
          src="assets/images/electronica.png"
          alt="Productos de categoría electronica"
          width="300px"
          height="400px"
        />
      </a>

      <a routerLink="../list-products">
      <img
        class="categories"
        src="assets/images/vehiculos.png"
        alt="Productos de categoría vehículos"
        width="300px"
        height="400px"
      />
    </a>
    <a routerLink="../list-products">
      <img
        class="categories"
        src="assets/images/vestuario.png"
        alt="Productos de categoría vestuario"
        width="300px"
        height="400px"
      />
    </a>
    <a routerLink="../list-products">
      <img
        class="categories"
        src="assets/images/videojuegos.png"
        alt="Productos de categoría videojuegos"
        width="300px"
        height="400px"
      />
      </a>
    </div>
    
    <br />
  </nb-card-body>
</nb-card>
