<!-- <nb-card  size="giant">
  <nb-card-body>
    <div class="row">
      <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
        <h1 style="cursor: default;" style="cursor: default;">Bienvenido al Marketplace Accesible!</h1>
        <br />
      </div>
    </div>
    <div class="row space">
      <img
        src="assets/images/diseño-para-todos.png"
        alt="Diseño para todos"
        width="350px"
        height="350px"
      />

      <img
        src="assets/images/mas.png"
        alt="signo más"
        width="50px"
        height="50px"
      />
      <img
        src="assets/images/carro.png"
        alt="Carro de compras con productos"
        width="300px"
        height="300px"
      />
    </div>
  </nb-card-body>
  <hr/>
  <br/>
</nb-card> -->
   
<nav id="webgazerNavbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- The hamburger menu button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar">Menu de Webgazer</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
        <li><a onclick="startCalibration()">Recalibrar</a></li>
                  
      </ul>
      
    </div>
  </div>
</nav>

  <!-- Calibration points -->
  <div class="calibrationDiv">
      <input type="button" class="Calibration" id="Pt1"/>
      <input type="button" class="Calibration" id="Pt2"/>
      <input type="button" class="Calibration" id="Pt3"/>
      <input type="button" class="Calibration" id="Pt4"/>
      <input type="button" class="Calibration" id="Pt5"/>
      <input type="button" class="Calibration" id="Pt6"/>
      <input type="button" class="Calibration" id="Pt7"/>
      <input type="button" class="Calibration" id="Pt8"/>
      <input type="button" class="Calibration" id="Pt9"/>
  </div>
  
