<!DOCTYPE html>
<html lang="en">
<head>
  <title>Marketplace</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Bienvenidos a Bici Mundo</h1>
  <p>Conoce el modelo de bici perfecto para ti!</p> 
</div>
  
<div class="container">
  <div class="row">

    <div class="div col-sm-4 row">
      <h3>Volcano</h3>
      <a href="#!">
        <img src="assets/img/bici_1.png" alt="200x200" class="img-thumbnail">
      </a> 
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <a href="#!">
        <div class="middle">
          <div class="text-hover">Ver detalles</div>
        </div>
      </a>
    </div>

    <div class="div col-sm-4 row">
      <h3>Classic</h3>
      <a href="#!">
        <img src="assets/img/bici_2.png" alt="200x200" class="img-thumbnail">
      </a> 
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <a href="#!">
        <div class="middle">
          <div class="text-hover">Ver detalles</div>
        </div>
      </a>
    </div>

    <div class="div col-sm-4 row">
      <h3>Ocean</h3>
      <a href="#!">
        <img src="assets/img/bici_3.png" alt="200x200" class="img-thumbnail">
      </a> 
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <a href="#!">
        <div class="middle">
          <div class="text-hover">Ver detalles</div>
        </div>
      </a>
    </div>

  </div>

  <div class="row">
       
    <div class="div col-sm-4 row">
      <h3>Spider</h3>
      <a href="#!">
        <img src="assets/img/bici_4.png" alt="200x200" class="img-thumbnail">
      </a> 
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <a href="#!">
        <div class="middle">
          <div class="text-hover">Ver detalles</div>
        </div>
      </a>
    </div>

    <div class="div col-sm-4 row">
      <h3>Sky</h3>
      <a href="#!">
        <img src="assets/img/bici_5.png" alt="200x200" class="img-thumbnail">
      </a> 
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <a href="#!">
        <div class="middle">
          <div class="text-hover">Ver detalles</div>
        </div>
      </a>
    </div>    

    <div class="div col-sm-4 row">
      <h3>Rusty</h3>
      <a href="#!">
        <img src="assets/img/bici_6.png" alt="200x200" class="img-thumbnail">
      </a> 
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <a href="#!">
        <div class="middle">
          <div class="text-hover">Ver detalles</div>
        </div>
      </a>
    </div>

  </div>
</div>

</body>
</html>