.container {
    flex-wrap: wrap ;
  }
  .buttonClose {
    position: relative;
    float: left;
    padding: 0;
    border: none;
    background: none;
  }

  .center {
    justify-content: center;
    text-align: center;
  
  }
  .right{
    text-align: right;
  }

  #form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
/*  label:hover,
  label:hover ~ label {
    color: orange;
  }


label,
label ~ label {
  font-size: 90%;
}
*/

input[type="radio"]:hover ~ label{
    color: orange
  }
  input[type="radio"]:checked ~ label {
    color: orange;
  }