<nb-card>

  <nb-card-header class="title">
 
   <nb-actions size="small" class="buttonClose">
      <nb-action
        (click)="goToListProduct()"
        style="text-align: left"
        icon="arrow-back-outline"
        [nbTooltip]="'Volver a listado de productos.'"
        nbTooltipStatus="info"
      ></nb-action>
    </nb-actions>
  
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngFor="let product of listProducts; let i = index">
      <div class="row" *ngIf="product.id === productId">
        <div
          class="col-12 col-sm-12 col-md-5 col-lg-5"
          style="text-align: center"
        >
          <label class="label col-form-label mr-4">Imágenes del producto</label>
          <br />
          <img
            [src]="product.images[this.imagesCounter].name"
            width="300px"
            height="300px"
          />
          <br />

          <div>
            <label class="label col-form-label mr-4"
              >Descripción de la imagen {{ this.imagesCounter + 1 }}</label
            >
            <br />
            <h6 [style.fontSize.px]="fontSize">{{ product.images[this.imagesCounter].description }}</h6>
          </div>
          <br />
          <h6 [style.fontSize.px]="fontSize" *ngIf="product.images.length !== 1">
            Total de imagenes : {{ product.images.length }} imágenes
          </h6>
          <h6 [style.fontSize.px]="fontSize" *ngIf="product.images.length === 1">
            Total de imagenes : {{ product.images.length }} imagen
          </h6>
          <ng-container>
            <div class="row">
              <div>
                <button
                  type="button"
                  status="primary"
                  size="medium"
                  nbButton
                  (click)="counterDown()"
                  [disabled]="this.imagesCounter === 0"
                >
                  <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                  Anterior
                </button>
              </div>
              <div class="ml-auto">
                <button
                  (click)="counterUp()"
                  nbButton
                  type="button"
                  status="primary"
                  size="medium"
                  [disabled]="this.imagesCounter === product.images.length - 1"
                >
                  <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                  Siguiente
                </button>
              </div>
            </div>
          </ng-container>
          <br />
        </div>
        <div class="col-3"></div>

        <div class="col-12 col-sm-12 col-md-7 col-lg-4" style="float: right">
          <label class="label col-form-label mr-4">Nombre del producto</label>
          <br />
          <h3>{{ product.title }}</h3>
          <br />
          <label class="label col-form-label mr-4">Precio del producto</label>
          <br />
          <h3>${{ product.price }}</h3>
          <br />
          <label class="label col-form-label mr-4">Favoritos</label>
          <br />

          <button
          [nbSpinner]="loading" nbSpinnerStatus="primary"
            fullWidth
            *ngIf="favorites === false && login"
            (click)="addFavorites(this.productId)"
            type="button"
            status="danger"
            size="medium"
            nbButton
          >
            <nb-icon icon="heart-outline"></nb-icon>
            Agregar a favoritos
          </button>
          <button
          [nbSpinner]="loading" nbSpinnerStatus="primary"
            fullWidth
            *ngIf="favorites === false && !login"
            (click)="openWindowLogin()"
            type="button"
            status="danger"
            size="medium"
            nbButton
          >
            <nb-icon icon="heart-outline"></nb-icon>
            Agregar a favoritos
          </button>

          <button
          [nbSpinner]="loading" nbSpinnerStatus="primary"
            fullWidth
            *ngIf="favorites === true && login"
            (click)="deleteFavorites(this.productId)"
            type="button"
            status="danger"
            size="medium"
            nbButton
          >
            <nb-icon icon="heart"></nb-icon>
            Quitar de favoritos
          </button>
          <br />
          <label class="label col-form-label mr-4">Comunicación</label>
          <br />
          <button
            (click)="openWindowChat()"
            fullWidth
            type="button"
            style="background-color: #54a59e; color: white"
            size="medium"
            nbButton
          >
            <nb-icon icon="message-circle-outline"></nb-icon>
            Comunicarse con el vendedor
          </button>
          <br />
          <label class="label col-form-label mr-4">Perfil vendedor</label>
          <br />
          <button
            (click)="openWindowProfile()"
            fullWidth
            type="button"
            style="background-color: #54a59e; color: white"
            size="medium"
            nbButton
          >
            <nb-icon icon="person-outline"></nb-icon>
            Ver datos del vendedor
          </button>
          <br />
          <label class="label col-form-label mr-4">Calificación</label>
          <br />
          <button
            (click)="openWindowQualification()"
            fullWidth
            type="button"
            style="background-color: #54a59e; color: white"
            size="medium"
            nbButton
          >
            <nb-icon icon="star-outline"></nb-icon>
            Calificar atención del vendedor
          </button>
        </div>
      </div>
      <hr *ngIf="product.id === productId" />
      <br />
      <div class="row" *ngIf="product.id === productId">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <label class="label col-form-label mr-4"
            >Descripción del producto</label
          >
          <br />
          <h6 [style.fontSize.px]="fontSize">{{ product.description }}</h6>
        </div>
      </div>
    </ng-container>
  </nb-card-body>

  <ng-template #chat>
    <nb-chat status="info" title="Vendedor" size="medium">
      <nb-chat-message
        *ngFor="let msg of messages"
        [type]="msg.type"
        [message]="msg.text"
        [reply]="msg.reply"
        [sender]="msg.user.name"
        [date]="msg.date"
        [files]="msg.files"
        [quote]="msg.quote"
        [latitude]="msg.latitude"
        [longitude]="msg.longitude"
        [avatar]="msg.user.avatar"
      >
      </nb-chat-message>
      <nb-chat-form
        (send)="sendMessage($event)"
        [dropFiles]="true"
        messagePlaceholder="Escriba un mensaje al vendedor"
      >
      </nb-chat-form>
    </nb-chat>
  </ng-template>

  <ng-template #profile let-data>
    <div class="row">
      <div class="col-12">
        <label class="label col-form-label mr-4">Nombre y apellido</label>
        <br />
        <h6 [style.fontSize.px]="fontSize">Vendedor market </h6>
        <br />
        <label class="label col-form-label mr-4">Número de contacto </label>
        <br />
        <h6 [style.fontSize.px]="fontSize"> +56912345678</h6>
        <br />
        <label class="label col-form-label mr-4">Correo electrónico</label>
        <br />
        <h6 [style.fontSize.px]="fontSize">market.accesible@correo.com</h6>
        <br />
      </div>
    </div>
  </ng-template>

  <ng-template #qualification let-data let-ref="dialogRef">
    <div class="row">
      <div class="col-12">
        <label class="label col-form-label mr-4"
          >Calificación atención del vendedor</label
        >
        <br />
        <form>
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="5" /><!--
        --><label for="radio1">
              <nb-icon
                (click)="star(5)"
                [options]="{ animation: { type: 'pulse' } }"
                icon="star-outline"
              ></nb-icon></label
            ><!--
        --><input id="radio2" type="radio" name="estrellas" value="4" /><!--
        --><label for="radio2"
              ><nb-icon
                (click)="star(4)"
                [options]="{ animation: { type: 'pulse' } }"
                icon="star-outline"
              ></nb-icon></label
            ><!--
        --><input id="radio3" type="radio" name="estrellas" value="3" /><!--
        --><label for="radio3"
              ><nb-icon
                (click)="star(3)"
                [options]="{ animation: { type: 'pulse' } }"
                icon="star-outline"
              ></nb-icon></label
            ><!--
        --><input id="radio4" type="radio" name="estrellas" value="2" /><!--
        --><label for="radio4"
              ><nb-icon
                (click)="star(2)"
                [options]="{ animation: { type: 'pulse' } }"
                icon="star-outline"
              ></nb-icon></label
            ><!--
        --><input id="radio5" type="radio" name="estrellas" value="1" /><!--
        --><label for="radio5"
              ><nb-icon
                (click)="star(1)"
                [options]="{ animation: { type: 'pulse' } }"
                icon="star-outline"
              ></nb-icon
            ></label>
          </p>
        </form>
      </div>
    </div>
    <!--
    <ng-container>
      <div class="row">
     
        <div class="ml-auto">
          <button
           [disabled]="!starValue"
            nbButton
            outline
            shape="round"
            status="info"
           
          >
            Guardar Calificación
          </button>
        </div>
      </div>
    </ng-container>
  -->
  </ng-template>
</nb-card>
