<nb-card size="giant" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-body >
    <form [formGroup]="loginForm">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 container">
          <h1 style="cursor: default;">Iniciar Sesión</h1>
          <h6 [style.fontSize.px]="fontSize" class="sub-title">Hola! Ingresa con tu correo electrónico y contraseña.</h6>
          
          <nb-form-field>
            <label style="float: left;" class="label col-form-label mr-4">Correo electrónico</label>
            <nb-icon style="margin-top: 2rem" *ngIf="form.email.valid" nbSuffix icon="checkmark-outline" pack="eva"></nb-icon>
            <nb-icon style="margin-top: 2rem" *ngIf="!form.email.pristine && form.email.errors?.required" nbSuffix icon="close-outline" pack="eva"></nb-icon>
            <input
              [style.fontSize.px]="fontSize"
              nbInput
              fullWidth
              min="8"
              type="email"
              formControlName="email"
              [status]="
                !form.email.pristine && form.email.errors?.required
                  ? 'danger'
                  : form.email.errors
                  ? 'basic'
                  : 'success'
              "
            />
          </nb-form-field>
          <br />
          <p
            [style.fontSize.px]="fontSize"
            class="red"
            *ngIf="!form.email.pristine && form.email.errors?.required"
          >
            El Correo electrónico es requerido
          </p>
      
        
          
         <br>
          <nb-form-field>
            <label style="float: left;" class="label col-form-label mr-4">Contraseña</label>
            <input
              [style.fontSize.px]="fontSize"
              fullWidth
              type="password"
              formControlName="password"
              [type]="getInputType()"
              nbInput
              [status]="
                !form.password.pristine && form.password.errors?.required
                  ? 'danger'
                  : form.password.errors
                  ? 'basic'
                  : 'success'
              "
            />
            <button style="margin-top: 2rem" ghost nbSuffix nbButton (click)="toggleShowPassword()">
              <nb-icon
                [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                pack="eva"
                [attr.aria-label]="
                  showPassword ? 'hide password' : 'show password'
                "
              >
              </nb-icon>
            </button>
          

          </nb-form-field>
          <br>
          <a [style.fontSize.px]="fontSize" style="float: right; font-size: medium;" class="text-link" routerLink="./forgot-password">¿Olvidaste la contraseña?</a>
          
          
          <br />
          <p
          [style.fontSize.px]="fontSize"
            class="red"
            *ngIf="!form.password.pristine && form.password.errors?.required"
          >
          <br>
            La contraseña es requerida, con un mínimo de 8 caracteres
          </p>
          <br />

          <div class="ml-auto">
            <button
              (click)="login()"
              [disabled]="!form.email.valid || !form.password.valid || loading"
              nbButton
              status="info"
              fullWidth
            >
              Iniciar sesión
            </button>
          </div>
          <br>
          <section [style.fontSize.px]="fontSize" style="font-size: medium;" aria-label="Register" class="another-action"> ¿Aún no tienes creada una cuenta? <a [style.fontSize.px]="fontSize"  class="text-link" routerLink="../register">Registrar</a></section>
        </div>
        
      </div>
      
    </form>
  </nb-card-body>
</nb-card>
