<nb-card class="create-windows-class">
  <nb-card-header class="title">
    <nb-actions size="small" class="buttonClose">
      <nb-action
        (click)="backToListProduct()"
        style="text-align: left"
        icon="arrow-back-outline"
        [nbTooltip]="'Volver al listado de mis productos '"
        nbTooltipStatus="info"
      ></nb-action>
    </nb-actions>
  </nb-card-header>
  <nb-card-body>
    <h1 style="margin-left: 1rem">Ver información de mi producto</h1>
    <hr />
    <!--	{{ productForm.value | json }} -->
    <form [formGroup]="productForm" *ngIf="productForm">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <nb-form-field>
            <nb-icon
              style="margin-top: 2rem"
              *ngIf="form.title.valid"
              nbSuffix
              icon="checkmark-outline"
              pack="eva"
            ></nb-icon>
            <nb-icon
              style="margin-top: 2rem"
              *ngIf="!form.title.pristine && form.title.errors?.required"
              nbSuffix
              icon="close-outline"
              pack="eva"
            ></nb-icon>
            <label class="label col-form-label mr-4">Título del producto</label>
            <input
              [style.fontSize.px]="fontSize"
              nbInput
              fullWidth
              placeholder="Ejemplo: Televisor QLED marca LG"
              type="title"
              formControlName="title"
              [status]="
                !form.title.pristine && form.title.errors?.required
                  ? 'danger'
                  : form.title.errors
                  ? 'basic'
                  : 'success'
              "
              [maxlength]="titleMaxLength"
            />
          </nb-form-field>
          <br />
          <p
            [style.fontSize.px]="fontSize"
            class="red"
            *ngIf="!form.title.pristine && form.title.errors?.required"
          >
            El titulo del producto es requerido
          </p>
          <nb-form-field>
            <nb-icon
              style="margin-top: 2rem"
              *ngIf="form.description.valid"
              nbSuffix
              icon="checkmark-outline"
              pack="eva"
            ></nb-icon>
            <nb-icon
              style="margin-top: 2rem"
              *ngIf="
                !form.description.pristine && form.description.errors?.required
              "
              nbSuffix
              icon="close-outline"
              pack="eva"
            ></nb-icon>
            <label class="label col-form-label mr-4"
              >Descripción del producto</label
            >
            <textarea
              [style.fontSize.px]="fontSize"
              nbInput
              fullWidth
              rows="8"
              placeholder="Ejemplo: El televisor ofrecido cuenta con capacidades únicas e impresionantes, además está totalmente sellado y listo para ser vendido..."
              type="description"
              formControlName="description"
              [status]="
                !form.description.pristine && form.description.errors?.required
                  ? 'danger'
                  : form.description.errors
                  ? 'basic'
                  : 'success'
              "
              [maxlength]="descriptionMaxLength"
            ></textarea>
          </nb-form-field>
          <br />
          <p
            [style.fontSize.px]="fontSize"
            class="red"
            *ngIf="
              !form.description.pristine && form.description.errors?.required
            "
          >
            La descripción del producto es requerida
          </p>

          <br />
          

          
        </div>
      
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <nb-form-field>
          <nb-icon
            style="margin-top: 2rem"
            *ngIf="form.price.valid"
            nbSuffix
            icon="checkmark-outline"
            pack="eva"
          ></nb-icon>
          <nb-icon
            style="margin-top: 2rem"
            *ngIf="!form.price.pristine && form.price.errors?.required"
            nbSuffix
            icon="close-outline"
            pack="eva"
          ></nb-icon>
          <label class="label col-form-label mr-4">Precio</label>
          <input
            [style.fontSize.px]="fontSize"
            placeholder="Ejemplo : 19000"
            nbInput
            fullWidth
            min="1"
            type="number"
            formControlName="price"
            [status]="
              !form.price.pristine && form.price.errors?.required
                ? 'danger'
                : form.price.errors
                ? 'basic'
                : 'success'
            "
          />
        </nb-form-field>
        <br />
        <p
          [style.fontSize.px]="fontSize"
          class="red"
          *ngIf="!form.price.pristine && form.price.errors?.required"
        >
          El precio del producto es requerido
        </p>
        <nb-form-field>
          <nb-icon
            style="margin-top: 2rem"
            *ngIf="form.amount.valid"
            nbSuffix
            icon="checkmark-outline"
            pack="eva"
          ></nb-icon>
          <nb-icon
            style="margin-top: 2rem"
            *ngIf="!form.amount.pristine && form.amount.errors?.required"
            nbSuffix
            icon="close-outline"
            pack="eva"
          ></nb-icon>
          <label class="label col-form-label mr-4">Cantidad</label>
          <input
            [style.fontSize.px]="fontSize"
            placeholder="Seleccione la cantidad del producto a vender"
            nbInput
            fullWidth
            min="1"
            type="number"
            formControlName="amount"
            [status]="
              !form.amount.pristine && form.amount.errors?.required
                ? 'danger'
                : form.amount.errors
                ? 'basic'
                : 'success'
            "
          />
        </nb-form-field>
        <br />
        <p
          [style.fontSize.px]="fontSize"
          class="red"
          *ngIf="!form.amount.pristine && form.amount.errors?.required"
        >
          El monto del producto es requerido
        </p>

        <br />
        <nb-form-field>
          <nb-icon
            style="margin-top: 2rem"
            *ngIf="form.categories.valid"
            nbSuffix
            icon="checkmark-outline"
            pack="eva"
          ></nb-icon>
          <nb-icon
            style="margin-top: 2rem"
            *ngIf="
              !form.categories.pristine && form.categories.errors?.required
            "
            nbSuffix
            icon="close-outline"
            pack="eva"
          ></nb-icon>
          <label class="label col-form-label mr-4"
            >Categoría(s) del producto</label
          >
          <nb-select
            placeholder="Seleccione las categorias"
            formControlName="categories"
            fullWidth
            multiple
            [status]="
              !form.categories.pristine && form.categories.errors?.required
                ? 'danger'
                : form.categories.errors
                ? 'basic'
                : 'success'
            "
          >
            <nb-option
              [style.fontSize.px]="fontSize"
              *ngFor="let category of categories; let i = index"
              [value]="categories[i]"
            >
              {{ category }}
            </nb-option>
          </nb-select>
          <br />
          <p
            [style.fontSize.px]="fontSize"
            class="red"
            *ngIf="
              !form.categories.pristine && form.categories.errors?.required
            "
          >
            <br />
            La categoria del producto es requerida
          </p>
 
        </nb-form-field>
      </div>
    </div>
    </form>

    <div class="ml-auto pt-3 m-3 mr-5">
      <div style="float: right; margin: 10px">
        <button
          (click)="updateInformation()"
          type="button"
          status="info"
          size="medium"
          nbButton
          style="margin: 5px"
          [nbSpinner]="loading"
          [disabled]="!this.productForm.valid || loading"
        >
          <nb-icon icon="save-outline"></nb-icon>
          Actualizar datos
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
