<nb-card size="giant">
  <nb-card-body>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h1>Información</h1>
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header [style.fontSize.px]="fontSize">
              ¿Quines somos?
            </nb-accordion-item-header>
            <nb-accordion-item-body >
              <h6 [style.fontSize.px]="fontSize">
              MARKETPLACE es un sitio web para vender y comprar diversos
              artículos, desde un videojuego para tu consola, hasta el nuevo
              auto de tus sueños, aunque esto no estaría completo sin una
              interfaz y detalles accesibles para usuarios con previa
              experiencia en sitios web tipo Marketplace y personas con TEA.
              </h6>
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header [style.fontSize.px]="fontSize"> ¿Que es TEA? </nb-accordion-item-header>
            <nb-accordion-item-body>
              <h6 [style.fontSize.px]="fontSize">
              El Trastornos del Espectro Autista (TEA) es una discapacidad del
              desarrollo que puede provocar problemas sociales, comunicacionales
              y conductuales significativos. Dentro de un sitio web tipo
              Marketplace pueden presentar problemas a la hora de obtener la
              información de un producto, comunicarse con el vendedor o
              determinar que acciones esta realizando en cada momento (e.j:
              cuando está publicando un artículo para vender).
             Es por ello que
              es importante ser claro a la hora de detallar los productos, para evitar confusiones que lleven a la no compra del
              artículo.
            </h6>
            </nb-accordion-item-body>
          </nb-accordion-item>
<!--
          <nb-accordion-item>
            <nb-accordion-item-header [style.fontSize.px]="fontSize" >
              ¿Que significa cada color en nuestra página?
            </nb-accordion-item-header>
            <nb-accordion-item-body>
           
                <div class="container col-12 col-sm-12 col-md-10 col-lg-10">
                  <div class="row">
                    <div class="container col-12 col-sm-12 col-md-3 col-lg-3">
                      <button nbButton fullWidth size="tiny" status="info">
                        Azul claro
                      </button>
                    </div>
                    <div class="container col-12 col-sm-12 col-md-7 col-lg-7">
                      <p>Reenviara al usuario a otro lugar del sitio web, el cual llevará a una nueva vista.</p>
                    </div>
                  </div>
                  </div>
                  


                  <div class="container col-12 col-sm-12 col-md-10 col-lg-10">
                    <div class="row">
                    <div class="container col-12 col-sm-12 col-md-3 col-lg-3">
                      <button nbButton fullWidth size="tiny" status="primary">
                        Azul oscuro
                      </button>
                    </div>
                    <div class="container col-12 col-sm-12 col-md-7 col-lg-7">
                      <p>
                        Este color estará presente en las flechas para
                        retroceder o avanzar en alguna acción.
                      </p>
                    </div>
                  </div>
                  </div>

                  <div class="container col-12 col-sm-12 col-md-10 col-lg-10">
                    <div class="row">
                    <div class="container col-12 col-sm-12 col-md-3 col-lg-3">
                      <button nbButton fullWidth size="tiny" status="danger">
                        Rojo
                      </button>
                    </div>
                    <div class="container col-12 col-sm-12 col-md-7 col-lg-7">
                      <p>
                        Este color estará presente cuando se quiera añadir un
                        producto a favoritos, o en los formularios.
                      </p>
                    </div>
                  </div>
                </div>

                  <div class="container col-12 col-sm-12 col-md-10 col-lg-10">
                    <div class="row">
                    <div class="container col-12 col-sm-12 col-md-3 col-lg-3">
                      <button
                        nbButton
                        fullWidth
                        size="tiny"
                        style="background-color: #54a59e; color: white"
                      >
                        Verde suave
                      </button>
                    </div>
                    <div class="container col-12 col-sm-12 col-md-7 col-lg-7">
                      <p>
                        Abrirá una pequeña venta con información relacionada a
                        donde se haya presionado.
                      </p>
                    </div>
                  </div>
                </div>

                 
                <hr>
                <div class="row">
                  <Strong> En los formularios se presentarán además dos colores: </Strong> 
                </div>
                  <br>

                  <div class="container col-12 col-sm-12 col-md-10 col-lg-10">
                   
                   <div class="row">
                    <div class="container col-12 col-sm-12 col-md-3 col-lg-3">
                      <button nbButton fullWidth size="tiny" status="success">
                        Verde
                      </button>
                    </div>
                    <div class="container col-12 col-sm-12 col-md-7 col-lg-7">
                      <p>Cuando lo escrito está correcto.</p>
                    </div>
                  </div>
                  </div>

                  <div class="container col-12 col-sm-12 col-md-10 col-lg-10">
                    <div class="row">
                    <div class="container col-12 col-sm-12 col-md-3 col-lg-3">
                      <button nbButton fullWidth size="tiny" status="danger">
                        Rojo
                      </button>
                    </div>
                    <div class="container col-12 col-sm-12 col-md-7 col-lg-7">
                      <p>
                        Cuando lo escrito sea incorrecto o falte información.
                      </p>
                    </div>
                  </div>
                </div>
           
              
            </nb-accordion-item-body>
          </nb-accordion-item>
        -->
          <nb-accordion-item>
            <nb-accordion-item-header [style.fontSize.px]="fontSize">
              ¿Que buscamos?
            </nb-accordion-item-header>
            <nb-accordion-item-body >
              <h6 [style.fontSize.px]="fontSize">
              Como equipo buscamos generar una nueva forma de comprar y vender
              artículos en un sitio web, en donde nadie se sienta discriminado y
              pueda satisfacer sus necesidades fácilmente, donde la información
              que se lea dentro del sitio web sea sencilla de entender y
              agradable visualmente, sin imágenes o iconos que puedan confundir
              al usuario. Además, buscamos sumar a todos los usuarios de este
              sitio web a comprender las necesidades de otras personas y
              comprender que todos merecemos una buena experiencia al comprar y
              vender artículos por internet.
            </h6>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-6"
        style="text-align: center"
      >
        <br />
        <img
          src="assets/images/persona.png"
          alt="Imagen referencial de una persona "
        />
      </div>
    </div>
  </nb-card-body>
</nb-card>
