<nb-card size="giant">
  <nb-card-body>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h1>Información</h1>
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header>
              ¿Quines somos?
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
              nostrum ex asperiores quibusdam atque totam ea ullam ad
              doloremque. Magnam doloremque, eos exercitationem velit dolor
              labore soluta aliquid odit expedita.
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header> ¿Que es TEA? </nb-accordion-item-header>
            <nb-accordion-item-body>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi
              consequuntur dolores aspernatur. Laudantium excepturi at,
              explicabo minus nulla quam itaque culpa vel laborum fugit cum
              facilis molestias deserunt dignissimos pariatur!
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header>
              ¿Que significa cada color en nuestra página?
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi
              consequuntur dolores aspernatur. Laudantium excepturi at,
              explicabo minus nulla quam itaque culpa vel laborum fugit cum
              facilis molestias deserunt dignissimos pariatur!
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header>
              ¿Que buscamos?
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi
              consequuntur dolores aspernatur. Laudantium excepturi at,
              explicabo minus nulla quam itaque culpa vel laborum fugit cum
              facilis molestias deserunt dignissimos pariatur!
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-6"
        style="text-align: center"
      >
      <br>
        <img
          src="assets/images/persona.png"
          alt="Imagen referencial de una persona "
        />
      </div>
    </div>
  </nb-card-body>
</nb-card>
