<nav class="navbar navbar-expand-md fixed-top navbar-light">
  <a class="navbar-brand text" style="color: #ffffff" routerLink=""
    >Marketplace accesible <nb-icon icon="shopping-cart-outline"> </nb-icon>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto container">
      <form class="form-inline">
        <input
          nbInput
          class="form-control mr-sm-2"
          type="search"
          placeholder="Buscar Productos"
          aria-label="Search"
        />
        <button
          (click)="goToListProduct()"
          nbButton
          status="info"
          type="submit"
        >
          <nb-icon icon="search-outline"></nb-icon>
        </button>
      </form>

      <li class="nav-item">
        <a
          class="nav-link text"
          style="color: #ffffff"
          routerLink="marketplace/create-product"
          >Vender</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text" style="color: #ffffff" routerLink="auth/login"
          >Iniciar sesion
        </a>
      </li>
      <li class="nav-item">
        <!-- <input [value]="zoom" (change)="onzoom($event)" />% -->
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Tamaño de pantalla
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-item">
            <div class="col-2">
              <button
                style="margin: 10px"
                fullwidth
                nbButton
                status="success"
                (click)="zoomUp()"
              >
                <nb-icon icon="maximize-outline"> </nb-icon>
                Aumentar
              </button>
            </div>
            <div class="col-2">
              <button
                style="margin: 10px"
                fullwidth
                nbButton
                status="danger"
                (click)="zoomDown()"
              >
                <nb-icon icon="minimize-outline"> </nb-icon>
                Disminuir
              </button>
            </div>
          </div>
        </div>
      </li>
      <li>
        <colors-page></colors-page>
      </li>

     
    </ul>
  </div>
</nav>
