<script src="assets/main_task.js"></script>

<!-- RESPONSIVE -->
<nav class="menu fixed-top">
  <label class="logo">Marketplace</label>
  <ul class="menu_items" id="mode">
    <li class="row" style="justify-content: center;">
      <input
        nbInput
        style="margin-left: 10px; display: flex; width: 300px ; height: 40px;"
        type="search"
        placeholder="Buscar Productos"
        aria-label="Search"
        [(ngModel)]="search"
      />
      <button class="btn-sm" (click)="goToListProduct()" nbButton status="info" type="submit">
        <nb-icon icon="search-outline"></nb-icon>
        Buscar
      </button>
    </li>

    <li (click)="showMenu()"><a routerLink="">Inicio</a></li>
    <li (click)="showMenu()"><a routerLink="marketplace/create-product">Vender</a></li>
    <li (click)="showMenu()"><a routerLink="marketplace/information">Información</a></li>
    <li (click)="showMenu()"><a routerLink="marketplace/edit-interface">Personalización</a></li>
    <li (click)="showMenu()"><a routerLink="auth/login">Iniciar Sesión</a></li>
    <li (click)="showMenu()"><a routerLink="auth/register">Registrarse</a></li>
  </ul>
  <span class="btn_menu" (click)="showMenu()">
    <i class="fa fa-bars"></i>
  </span>
</nav>

<!-- NORMAL -->
<nav class="menu fixed-top">
  <label class="logo"><a class="logo" routerLink="marketplace/main">Marketplace</a></label>
  <div class="container">
    <div class="column">
      <div>
        <ul class="menu_items" id="mode">
          <li>
            <input
              style="margin-left: 10px; display: flex; width: 400px"
              nbInput
              class="form-control mr-sm-2"
              type="search"
              placeholder="Buscar Productos"
              aria-label="Search"
              [(ngModel)]="search"
            />
          </li> 
          <li>
            <button
              (click)="goToListProduct()"
              nbButton
              status="info"
              type="submit"
            >
              <nb-icon icon="search-outline"></nb-icon>
              Buscar
            </button>
          </li>
        </ul>
      </div>
      <div>
        <ul class="menu_items" id="mode" style="margin-top: 5px">
          <li [routerLinkActive]="['active']"><a routerLink="marketplace/main">Inicio</a></li>
          <li [routerLinkActive]="['active']"><a routerLink="marketplace/create-product">Vender</a></li>
          <li [routerLinkActive]="['active']"><a routerLink="marketplace/categories">Categorías</a></li>
          <li [routerLinkActive]="['active']"><a routerLink="marketplace/edit-interface">Personalización</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="column ">
      <div style="float: right">
        <ul class="menu_items" id="mode" style="margin-top: 5px">
          <li >
            <nb-toggle
            class="row menu_items"
              *ngIf="currentTheme === 'default'"
              (click)="changeTheme('dark')"
            >
            <p class="textColor">
              <nb-icon icon="sun-outline" class="textColor"></nb-icon> Modo
              claro
            </p>
            </nb-toggle
            >
            <nb-toggle
            class="row menu_items"
              *ngIf="currentTheme === 'dark'"
              checked="true"
              (click)="changeTheme('default')"
            >
            <p class="textColor">
              <nb-icon icon="moon-outline" class="textColor"></nb-icon> Modo
              oscuro
            </p>
              </nb-toggle
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="column">
      <div>
        <ul class="menu_items" id="mode" style="margin-top: 5px">
          <li>
            <p
              class="text"
              [nbContextMenu]="items"
              nbContextMenuTrigger="click"
              nbContextMenuTag="my-context-menu"
            >
              <nb-icon icon="people-outline"></nb-icon> ¡Hola! <br />
              Inicia sesión o registrate
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="column">
      <div>
        <ul class="menu_items" id="mode" style="margin-top: 5px">
          <li>
            <a
              onclick="export_eyedata_results()"
              class="btn btn-warning"
            >
              Termina el intento
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <span class="btn_menu" (click)="showMenu()">
    <i class="fa fa-bars"></i>
  </span>
</nav>
