<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand text" style="color: #ffffff" routerLink=""
    >Marketplace<i class="fab fa-twitch" style="margin: 10px"></i
  ></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto container">
      <li class="nav-item active">
        <a class="nav-link text" routerLink=""
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text"
          style="color: #ffffff"
          routerLink="marketplace/create-product"
          >Vender</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text"
          style="color: #ffffff"
          routerLink="marketplace/information"
          >Información
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text" style="color: #ffffff" routerLink="auth/login"
          >Iniciar sesion
        </a>
      </li>
      <li class="nav-item">
        <!-- <input [value]="zoom" (change)="onzoom($event)" />% -->
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Tamaño de pantalla
        </a>
        <div class="dropdown-menu col-12" aria-labelledby="navbarDropdown">
          <div class="dropdown-item">
            <a (click)="zoomDown()" class="nav-link textZoom">Disminuir </a>
            <nb-icon (click)="zoomDown()" icon="minimize-outline"> </nb-icon>
          </div>
          <div class="dropdown-item">
            <a (click)="zoomUp()" class="nav-link textZoom">Aumentar </a>
            <nb-icon (click)="zoomUp()" icon="maximize-outline"> </nb-icon>
          </div>
        </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Buscar Productos"
        aria-label="Search"
      />
      <button nbButton status="info" type="submit">Buscar</button>
    </form>
  </div>
</nav>
