.navbar-light {
  background-color: rgb(139, 110, 177);
}
.text{
  color: aliceblue !important;
  font-family: 'Roboto Slab';
  font-size: large;
  font-weight: 100;
  text-decoration: none;
}

.container {
  justify-content: center;
}

