<footer class="page-footer font-small footer-color">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="text-title cursor active" (click)="goToInformation()"
            >Información</a
          >
        </h6>
      </div>
    </div>

    <hr class="rgba-white-light" style="margin: 0 15%" />

    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div class="col-md-8 col-12 mt-5">
        <p class="text-desc" style="line-height: 1.7rem">
          Bienvenido al marketplace accesible, realizado para personas con
          trastorno del espectro autista. Ayúdanos a contribuir a que este sea
          un espacio más accesible para todos ♡.
        </p>
      </div>
    </div>

    <hr
      class="clearfix d-md-none rgba-white-light"
      style="margin: 10% 15% 5%"
    />
  </div>
</footer>
