.footer-color {
    background-color: rgb(139, 110, 177);
}

.text-title {
    color: aliceblue !important;
    font-family: "Roboto Slab";
    font-size: large;
    font-weight: 100;
    text-decoration: none;
}

.text-desc {
    color: aliceblue !important;
    font-family: "Montserrat";
    font-size: large;
    font-weight: 100;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white !important;
}