<nb-card >
  
 
  <nb-card-body [nbSpinner]="getProductSpinnerLoading">
    <h1>Favoritos</h1>
    <hr>
    <div
      style="justify-content: space-around"
      *ngIf="listFavorites.length > 0; else noProducts"
    >
      <ng-container *ngFor="let product of listProducts; let i = index">
        <ng-container *ngFor="let favorites of listFavorites; let j = index">
        <nb-card accent="info" *ngIf="product.id === favorites" style="margin: 10px">
          <nb-card-body>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <img
                  [src]="product.images[0].name"
                  alt=""
                  width="200px"
                  height="200px"
                />
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <h1 style="cursor: default;" >{{ product.title }}</h1>
                <hr />
                <h1 style="cursor: default;">${{ product.price }}</h1>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <button (click)="open(dialog)" [nbSpinner]="loading" nbSpinnerStatus="primary" nbButton status="danger" style="float: right; margin-top: 4rem;">
                  <nb-icon icon="heart"></nb-icon>
                  Quitar de favoritos
                </button>
              </div>
            </div>

            <ng-template #dialog let-data let-ref="dialogRef">
              <nb-card>
                <nb-card-header>Quitar de favoritos</nb-card-header>
                <nb-card-body>{{ data }}</nb-card-body>
                <nb-card-footer>
                  <div class="row">
                  <button nbButton status="info" (click)="ref.close()">  <nb-icon icon="arrow-back-outline"></nb-icon> Volver</button>
                  <button class="ml-auto" nbButton status="danger" [nbSpinner]="loading" nbSpinnerStatus="primary" (click)="ref.close()" (click)="deleteFavorites(favorites)">  <nb-icon icon="close-outline"></nb-icon>Eliminar</button>
                </div>
                </nb-card-footer>
              </nb-card>
            </ng-template>

          </nb-card-body>
        </nb-card>
      </ng-container>
    </ng-container>
    </div>
    <ng-template #noProducts>
      <div *ngIf="!getProductSpinnerLoading" style="text-align: center">
        <h1 style="cursor: default;">No tiene productos agregados a favoritos :(</h1>
        <br>
        <button (click)="goToListProduct()" [nbSpinner]="loading" nbSpinnerStatus="primary" nbButton status="primary" style="float: center; margin-top: 4rem;">
          
          Ir al listado de productos
          <nb-icon icon="arrow-forward-outline"></nb-icon>
        </button>
      </div>
    </ng-template>
  </nb-card-body>
</nb-card>

