<nb-card size="giant">
  <nb-card-body>
    <form [formGroup]="productForm">
      <!--   <p>{{ productForm.value | json }}</p> -->

      <nb-stepper orientation="horizontal" disableStepNavigation>
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Comienzo</ng-template>
          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>Vender producto</h1>
              <p class="lorem">
                Por favor, recuerda ser concreto y preciso a la hora de detallar
                la información del producto, ayúdanos a contribuir a que este
                sea un espacio más accesible para todos ♡.
              </p>
              <img
                src="assets/images/vender.png"
                alt="Imagen referencial de compra y venta de productos"
                width="200px"
                height="200px"
              />
              <br />
            </div>
          </div>

          <nb-card-footer>
            <div class="row" style="justify-content: center">
              <button
                nbButton
                outline
                shape="round"
                status="info"
                nbStepperNext
              >
                Comenzar
              </button>
            </div>
          </nb-card-footer>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Titulo</ng-template>
          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>Título del producto</h1>
              <p class="lorem">
                Aquí debes colocar el titulo más adecuado para el producto que
                estas ofreciendo.
              </p>
              <nb-form-field>
                <nb-icon *ngIf="form.title.valid" nbSuffix icon="checkmark-outline" pack="eva"></nb-icon>
                <nb-icon *ngIf="!form.title.pristine && form.title.errors?.required" nbSuffix icon="close-outline" pack="eva"></nb-icon>
             
              <input
                nbInput
                fullWidth
                placeholder="Ejemplo: Televisor QLED marca LG"
                type="title"
                formControlName="title"
                [status]="
                  !form.title.pristine && form.title.errors?.required
                    ? 'danger'
                    : form.title.errors
                    ? 'basic'
                    : 'success'
                "
                [maxlength]="titleMaxLength"
              />
            </nb-form-field>
              <br />
              <p
                class="red"
                *ngIf="!form.title.pristine && form.title.errors?.required"
              >
                El titulo del producto es requerido
              </p>
              <character-counter
              
                [input]="form.title.value?.length || 0"
                [limit]="titleMaxLength"
              > </character-counter>

              <br />

              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                      nbButton
                      type="button"
                      status="primary"
                      size="medium"
                      [disabled]="!form.title.valid"
                      nbStepperNext
                    >
                      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
          </div>
        </nb-step>
        <nb-step label="Descripción">
          <ng-template #labelThree>Descripción del producto</ng-template>
          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>Descripción del producto</h1>
              <p class="lorem">
                Aquí debes colocar siendo concreto y preciso los detalles y
                caracteristicas del producto que estas ofreciendo, sin olvidar
                ningun detalle importante que pueda ayudar al posible comprador
                a elegir tu producto.
              </p>
              <nb-form-field>
                <nb-icon *ngIf="form.description.valid" nbSuffix icon="checkmark-outline" pack="eva"></nb-icon>
                <nb-icon *ngIf="!form.description.pristine && form.description.errors?.required" nbSuffix icon="close-outline" pack="eva"></nb-icon>
                
              <textarea
                nbInput
                fullWidth
                rows="8"
                placeholder="Ejemplo: El televisor ofrecido cuenta con capacidades únicas e impresionantes, además está totalmente sellado y listo para ser vendido..."
                type="description"
                formControlName="description"
                [status]="
                  !form.description.pristine &&
                  form.description.errors?.required
                    ? 'danger'
                    : form.description.errors
                    ? 'basic'
                    : 'success'
                "
                [maxlength]="descriptionMaxLength"
              ></textarea>
            </nb-form-field>
              <br />
              <p
                class="red"
                *ngIf="
                  !form.description.pristine &&
                  form.description.errors?.required
                "
              >
                La descripción del producto es requerida
              </p>
              <character-counter
                [input]="form.description.value?.length || 0"
                [limit]="descriptionMaxLength"
              >
              </character-counter>
              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                      nbButton
                      type="button"
                      status="primary"
                      size="medium"
                      [disabled]="!form.description.valid"
                      nbStepperNext
                    >
                      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
          </div>
        </nb-step>
        <nb-step [label]="labelFour">
          <ng-template #labelFour>Precio</ng-template>
          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>Precio del producto</h1>
              <p class="lorem">
                Aquí debes colocar el precio que tu estimes conveniente para el
                producto que estas ofreciendo.
              </p>
              <nb-form-field>
                <nb-icon *ngIf="form.price.valid" nbSuffix icon="checkmark-outline" pack="eva"></nb-icon>
                <nb-icon *ngIf="!form.price.pristine && form.price.errors?.required" nbSuffix icon="close-outline" pack="eva"></nb-icon>
              <input
                placeholder="Ejemplo : 19.000"
                nbInput
                fullWidth
                min="1"
                type="number"
                formControlName="price"
                [status]="
                  !form.price.pristine && form.price.errors?.required
                    ? 'danger'
                    : form.price.errors
                    ? 'basic'
                    : 'success'
                "
              />
              </nb-form-field>
              <br />
              <p
                class="red"
                *ngIf="!form.price.pristine && form.price.errors?.required"
              >
                El precio del producto es requerido
              </p>
              <br />
              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                      nbButton
                      type="button"
                      status="primary"
                      size="medium"
                      [disabled]="!form.price.valid"
                      nbStepperNext
                    >
                      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
          </div>
        </nb-step>
        <nb-step [label]="labelFive">
          <ng-template #labelFive>Cantidad</ng-template>
          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>Cantidad</h1>
              <p class="lorem">
                Aquí debes colocar la cantidad disponible actual que tiene para
                ofrecer para el producto que estas ofreciendo.
              </p>
              <nb-form-field>
                <nb-icon *ngIf="form.amount.valid" nbSuffix icon="checkmark-outline" pack="eva"></nb-icon>
                <nb-icon *ngIf="!form.amount.pristine && form.amount.errors?.required" nbSuffix icon="close-outline" pack="eva"></nb-icon>
              <input
                placeholder="Seleccione la cantidad del producto a vender"
                nbInput
                fullWidth
                min="1"
                type="number"
                formControlName="amount"
                [status]="
                  !form.amount.pristine && form.amount.errors?.required
                    ? 'danger'
                    : form.amount.errors
                    ? 'basic'
                    : 'success'
                "
              />
              </nb-form-field>
              <br />
              <p
                class="red"
                *ngIf="!form.amount.pristine && form.amount.errors?.required"
              >
                El monto del producto es requerido
              </p>
              <br />
              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                      nbButton
                      type="button"
                      status="primary"
                      size="medium"
                      [disabled]="!form.amount.valid"
                      nbStepperNext
                    >
                      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
          </div>
        </nb-step>
        <nb-step [label]="labelsix">
          <ng-template #labelsix>Categorias</ng-template>

          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>categoria(s) del producto</h1>
              <p class="lorem">
                Aquí debes colocar en que categoria se encuentra tu producto,
                debes seleccionar al menos uno.
              </p>
              
              <nb-select
                placeholder="Seleccione las categorias"
                formControlName="categories"
                fullWidth
                multiple
                [status]="
                  !form.categories.pristine && form.categories.errors?.required
                    ? 'danger'
                    : form.categories.errors
                    ? 'basic'
                    : 'success'
                "
              >
              
                <nb-option
                  *ngFor="let category of categories; let i = index"
                  [value]="categories[i]"
                >
                  {{ category }}
                </nb-option>
               
              </nb-select>
              <br />
              <p
                class="red"
                *ngIf="
                  !form.categories.pristine && form.categories.errors?.required
                "
              >
                La categoria del producto es requerida
              </p>
              <br />
              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                      nbButton
                      type="button"
                      status="primary"
                      size="medium"
                      [disabled]="!form.categories.valid"
                      nbStepperNext
                    >
                      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
          </div>
        </nb-step>
        <nb-step [label]="labelSeven">
          <ng-template #labelSeven>Imagenes</ng-template>

          <div class="row">
            <div class="container col-12 col-sm-12 col-md-6 col-lg-6">
              <h1>Imagenes del producto</h1>
              <p class="lorem">
                Aquí debes adjuntar las imágenes referenciales del producto que
                estas ofreciendo.
              </p>
              <div class="container row">
                <input
                  fullWidth
                  nbInput
                  style="display: none"
                  shape="semi-round"
                  type="file"
                  multiple
                  (change)="detectFiles($event)"
                  placeholder="Ingrese los archivos"
                  accept="image"
                  #hiddenfileinput
                  [status]="
                    !form.images.pristine && form.images.errors?.required
                      ? 'danger'
                      : form.images.errors
                      ? 'basic'
                      : 'success'
                  "
                />
                <br />
                <p
                  class="red"
                  *ngIf="!form.images.pristine && form.images.errors?.required"
                >
                  La imagen del producto es requerida
                </p>
                <br />
                <button
                  nbButton
                  status="success"
                  size="medium"
                  (click)="hiddenfileinput.click()"
                  disabled="{{ imagesArray.length >= imageMaxLength }}"
                >
                  <nb-icon icon="arrow-circle-up-outline"></nb-icon>
                  Subir imagenes
                </button>
              </div>

              <character-counter
                [input]="form.images.value?.length || 0"
                [limit]="imageMaxLength"
              ></character-counter>
              <hr />

              <div *ngIf="imagesArray && imagesArray.length">
                <label class="label col-form-label"> Imagenes agregadas</label>

                <div class="row" style="justify-content: space-around">
                  <nb-card
                    formArrayName="images"
                    *ngFor="let file of imagesArray.controls; let i = index"
                    class="col-12"
                    style="margin: 10px"
                  >
                    <nb-card-body>
                      <div class="row" [formGroupName]="i">
                        <div class="col-12">
                          <h2>{{ file.get("name")?.value }}</h2>
                        </div>
                        <div
                          class="container col-12 col-sm-12 col-md-6 col-lg-6"
                        >
                          <textarea
                            placeholder="Pequeña descripción de la imagen"
                            nbInput
                            rows="3"
                            fullWidth
                            type="text"
                            [maxlength]="imageDescriptionMaxLength"
                            formControlName="description"
                            [status]="
                              !file.get('description')?.pristine &&
                              file.get('description')?.errors?.required
                                ? 'danger'
                                : file.get('description')?.errors
                                ? 'basic'
                                : 'success'
                            "
                          >
                          </textarea>
                          <br />
                          <p
                            class="red"
                            *ngIf="
                              !file.get('description')?.pristine &&
                              file.get('description')?.errors?.required
                            "
                          >
                            La descripcion de la imagen es requerida
                          </p>
                  
                        <character-counter
                          [input]="file.get('description')?.value.length || 0"
                          [limit]="imageDescriptionMaxLength"
                        ></character-counter>
                      </div>
                        <div
                          class="
                            container
                            right
                            col-12 col-sm-12 col-md-1 col-lg-1
                          "
                        >
                          <button
                            nbButton
                            ghost
                            status="danger"
                            style="margin: 5px"
                            (click)="removeFile(i)"
                          >
                            <nb-icon
                              nbTooltip="Eliminar Imagen"
                              nbTooltipStatus="danger"
                              icon="close-circle-outline"
                            >
                            </nb-icon>
                          </button>
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                      [disabled]="!form.images.valid || imagesArray.length <= 0"
                      nbButton
                      outline
                      shape="round"
                      status="info"
                    >
                      Realizar publicación
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
            <br />
          </div>
        </nb-step>
      </nb-stepper>
    </form>
  </nb-card-body>
</nb-card>
