@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
.container {
  justify-content: center;
  text-align: center;

  
}
.right{
  text-align: right;
  float: right;
}
.red{
  color: #FF708D;
}

@include media-breakpoint-down(sm) {
  .control-item-sm-down {
    display: none;
  }
 
}
