<nb-card size="giant">
  <nb-card-body>
    <form [formGroup]="productForm">
        <p>{{ productForm.value | json }}</p> 

      <nb-stepper orientation="horizontal" >
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Comienzo</ng-template>
          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>Vender producto</h1>
              <p class="lorem">
                Por favor, recuerda ser concreto y preciso a la hora de detallar
                la información del producto, ayúdanos a contribuir a que este
                sea un espacio más accesible para todos ♡.
              </p>
              <img
                src="assets/images/vender.png"
                alt="Imagen referencial de compra y venta de productos"
                width="200px"
                height="200px"
              />
              <br />
            </div>
          </div>

          <nb-card-footer>
            <div class="row" style="justify-content: center">
              <button
                nbButton
                outline
                shape="round"
                status="info"
                nbStepperNext
              >
                Comenzar
              </button>
            </div>
          </nb-card-footer>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Titulo</ng-template>
          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>Título del producto</h1>
              <p class="lorem">
                Aquí debes colocar el titulo más adecuado para el producto que
                estas ofreciendo.
              </p>

              <input
                nbInput
                fullWidth
                placeholder="Ejemplo: Televisor QLED marca LG"
                type="title"
                formControlName="title"
                [nbPopover]="
                  !form.title.pristine && form.title.errors?.required
                    ? 'El titulo del producto es requerido'
                    : ''
                "
                [status]="
                  !form.title.pristine && form.title.errors?.required
                    ? 'danger'
                    : form.title.errors
                    ? 'basic'
                    : 'success'
                "
                [maxlength]="titleMaxLength"
              />
              <br />
              <character-counter
                [input]="form.title.value?.length || 0"
                [limit]="titleMaxLength"
              ></character-counter>
              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                      nbButton
                      type="button"
                      status="primary"
                      size="medium"
                      [disabled]="!form.title.valid"
                      nbStepperNext
                    >
                      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
          </div>
        </nb-step>
        <nb-step label="Descripción">
          <ng-template #labelThree>Descripción del producto</ng-template>
          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>Descripción del producto</h1>
              <p class="lorem">
                Aquí debes colocar siendo concreto y preciso los detalles y
                caracteristicas del producto que estas ofreciendo, sin olvidar
                ningun detalle importante que pueda ayudar al posible comprador
                a elegir tu producto.
              </p>

              <textarea
                nbInput
                fullWidth
                rows="8"
                placeholder="Ejemplo: El televisor ofrecido cuenta con capacidades únicas e impresionantes, además está totalmente sellado y listo para ser vendido..."
                type="description"
                formControlName="description"
                [nbPopover]="
                  !form.description.pristine &&
                  form.description.errors?.required
                    ? 'La descripción del producto es requerida'
                    : ''
                "
                nbPopoverAdjustment="noop"
                [status]="
                  !form.description.pristine &&
                  form.description.errors?.required
                    ? 'danger'
                    : form.description.errors
                    ? 'basic'
                    : 'success'
                "
                [maxlength]="descriptionMaxLength"
              ></textarea>
              <br />
              <character-counter
                [input]="form.description.value?.length || 0"
                [limit]="descriptionMaxLength"
              ></character-counter>
              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                      nbButton
                      type="button"
                      status="primary"
                      size="medium"
                      [disabled]="!form.description.valid"
                      nbStepperNext
                    >
                      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
          </div>
        </nb-step>
        <nb-step [label]="labelFour">
          <ng-template #labelFour>Precio</ng-template>
          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>Precio del producto</h1>
              <p class="lorem">
                Aquí debes colocar el precio que tu estimes conveniente para el
                producto que estas ofreciendo.
              </p>

              <input
                placeholder="Ejemplo : 19.000"
                nbInput
                fullWidth
                min="1"
                type="number"
                formControlName="price"
                [nbPopover]="
                  !form.price.pristine && form.price.errors?.required
                    ? 'El precio del producto es requerido'
                    : ''
                "
                nbPopoverAdjustment="noop"
                [status]="
                  !form.price.pristine && form.price.errors?.required
                    ? 'danger'
                    : form.price.errors
                    ? 'basic'
                    : 'success'
                "
              />

              <br />
              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                      nbButton
                      type="button"
                      status="primary"
                      size="medium"
                      [disabled]="!form.price.valid"
                      nbStepperNext
                    >
                      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
          </div>
        </nb-step>
        <nb-step [label]="labelFive">
          <ng-template #labelFive>Cantidad</ng-template>
          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>Cantidad</h1>
              <p class="lorem">
                Aquí debes colocar la cantidad disponible actual que tiene para
                ofrecer para el producto que estas ofreciendo.
              </p>

              <input
                placeholder="Seleccione la cantidad del producto a vender"
                nbInput
                fullWidth
                min="1"
                type="number"
                formControlName="amount"
                [nbPopover]="
                  !form.amount.pristine && form.amount.errors?.required
                    ? 'La cantidad del producto es requerida'
                    : ''
                "
                nbPopoverAdjustment="noop"
                [status]="
                  !form.amount.pristine && form.amount.errors?.required
                    ? 'danger'
                    : form.amount.errors
                    ? 'basic'
                    : 'success'
                "
              />
              <br />
              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                      nbButton
                      type="button"
                      status="primary"
                      size="medium"
                      [disabled]="!form.amount.valid"
                      nbStepperNext
                    >
                      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
          </div>
        </nb-step>
        <nb-step [label]="labelsix">
          <ng-template #labelsix>Categorias</ng-template>

          <div class="row">
            <div class="container col-12 col-sm-12 col-md-5 col-lg-5">
              <h1>categoria(s) del producto</h1>
              <p class="lorem">
                Aquí debes colocar en que categoria se encuentra tu producto,
                debes seleccionar al menos uno.
              </p>

              <nb-select
                placeholder="Seleccione las categorias"
                formControlName="categories"
                fullWidth
                multiple
              >
                <nb-option
                  *ngFor="let category of categories; let i = index"
                  [value]="categories[i]"
                >
                  {{ category }}
                </nb-option>
              </nb-select>

              <br />
              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                      nbButton
                      type="button"
                      status="primary"
                      size="medium"
                      [disabled]="!form.categories.valid"
                      nbStepperNext
                    >
                      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
          </div>
        </nb-step>
        <nb-step [label]="labelSeven">
          <ng-template #labelSeven>Imagenes</ng-template>

          <div class="row">
            <div class="container col-12 col-sm-12 col-md-6 col-lg-6">
              <h1>Imagenes del producto</h1>
              <p class="lorem">
                Aquí debes adjuntar las imágenes referenciales del producto que
                estas ofreciendo.
              </p>
              <div class="container row">
                <input
                  fullWidth
                  nbInput
                  style="display: none"
                  shape="semi-round"
                  type="file"
                  multiple
                  (change)="detectFiles($event)"
                  placeholder="Ingrese los archivos"
                  accept="image"
                  #hiddenfileinput
                  [nbPopover]="
                    !form.images.pristine && form.images.errors?.required
                      ? 'la imagen del producto es requerido'
                      : ''
                  "
                  nbPopoverAdjustment="noop"
                  [status]="
                    !form.images.pristine && form.images.errors?.required
                      ? 'danger'
                      : form.images.errors
                      ? 'basic'
                      : 'success'
                  "
                />
                <br />
                <button
                  nbButton
                  status="success"
                  size="medium"
                  (click)="hiddenfileinput.click()"
                  disabled="{{ imagesArray.length >= imageMaxLength }}"
                >
                  <nb-icon icon="arrow-circle-up-outline"></nb-icon>
                  Subir imagenes
                </button>
              </div>

              <character-counter
                [input]="form.images.value?.length || 0"
                [limit]="imageMaxLength"
              ></character-counter>
              <hr />

              <div *ngIf="imagesArray && imagesArray.length">
                <label class="label col-form-label"> Imagenes agregadas</label>

                <div class="row" style="justify-content: space-around">
                  <nb-card
                    formArrayName="images"
                    *ngFor="let file of imagesArray.controls; let i = index"
                    class="col-12"
                    style="margin: 10px"
                  >
                    <nb-card-body>
                      <div class="row" [formGroupName]="i">
                        <div
                          class=" col-12 col-sm-12 col-md-5 col-lg-5"
                        >
                          <h2>{{ file.get("name")?.value }}</h2>
                        </div>
                        <div
                        class="container col-12 col-sm-12 col-md-5 col-lg-5"
                      >
                      <input
                      placeholder="Descripción de la imagen"
                      nbInput
                      fullWidth
                      type="text"
                      formControlName="description"
                      [nbPopover]="
                      !file.get('description')?.pristine && file.get('description')?.errors?.required
                          ? 'La descripción de la imagen es requerida'
                          : ''
                      "
                      nbPopoverAdjustment="noop"
                      [status]="
                        !file.get('description')?.pristine && file.get('description')?.errors?.required
                          ? 'danger'
                          : file.get('description')?.errors
                          ? 'basic'
                          : 'success'
                      "
                    />
                      </div>

                        <div
                          class="
                            container
                            right
                            col-12 col-sm-12 col-md-2 col-lg-2
                          "
                        >
                          <button
                            nbButton
                            ghost
                            status="danger"
                            style="margin: 5px"
                            (click)="removeFile(i)"
                          >
                            <nb-icon
                              nbTooltip="Eliminar Imagen"
                              nbTooltipStatus="danger"
                              icon="close-circle-outline"
                            >
                            </nb-icon>
                          </button>
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </div>
              </div>
              <nb-card-footer>
                <div class="row">
                  <div>
                    <button
                      type="button"
                      status="primary"
                      size="medium"
                      nbButton
                      nbStepperPrevious
                    >
                      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="ml-auto">
                    <button
                    [disabled]="!form.images.valid || imagesArray.length <= 0 "
                      nbButton
                      outline
                      shape="round"
                      status="info"
                    >
                      Realizar publicación
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </div>
            <br />
          </div>
        </nb-step>
      </nb-stepper>
    </form>
  </nb-card-body>
</nb-card>
